.welcome {
  background:linear-gradient(#b5f4ff 0%,#b5c4ff 100%);
    text-align: center;
    list-style: none;
}

#img {
    width: 650px !important;
    margin-bottom: 50px !important;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

.welcometext {
  color:#FFFFFF;
}

#bio {

    margin:100px;
    padding: 50px;
    text-align: center;
    font-size:42px;
}

.biotext {
    color:black;
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}

.links {
    float: left;
    color: #fff;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px;
}

.menu {
    position: fixed;
}

.link:hover {
    background-color:dodgerblue;
}

body {
    text-align: center;
}

a {
    text-decoration: none;
}

.articled:hover {
    color:dodgerblue;
}

#My Inspiration {
    background:linear-gradient(#1215db 0%,#000000 100%);
}

img {
    transition: transform .2s;
    width:620px;
    height:400px;
    margin:20px;
}

img:hover {
    transform:scale(0.9);
}

#Contact {
    background-color:crimson;
}